<br>
<div>
    <h3>Employee Data</h3>
    <p>This component demonstrates fetching data from the server.</p>
</div>

<p *ngIf="!employees">
    <em>{{ server_status }}</em>
</p>

<hr>

<div class="row">
    <div class="col-9">
        <div class="scrollit" *ngIf="employees">
            <table class="table table-bordered table-striped">
                <thead class="thead-light">
                    <tr>
                        <th class="fixedcol">Id</th>
                        <th class="notfixedcol">Name</th>
                        <th class="notfixedcol">Designation</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let employee of employees">
                        <td class="fixedcol">
                            <input readonly class="form-control" type="text" [(ngModel)]="employee._id" value="{{ employee._id }}" />
                        </td>
                        <td class="notfixedcol">
                            <input class="form-control" type="text" [(ngModel)]="employee.empName" value="{{ employee.empName }}" />
                        </td>
                        <td class="notfixedcol">
                            <input class="form-control" type="text" [(ngModel)]="employee.empDesig" value="{{ employee.empDesig }}" />
                        </td>
                        <td>
                            <button class="btn btn-danger" (click)="deleteEmployee(employee)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <hr />
        <div *ngIf="employees">
            <button class="btn btn-primary" (click)="updateEmployees(employees)">Update</button>
            <span *ngIf="updating">Updating...</span>
            <span>
                <button class="btn btn-light" (click)="refreshEmployees()">Refresh</button>
            </span>
        </div>
    </div>
    <div class="col-3">
        <form class="form-group" #form="ngForm">
            <h3>Add Employee</h3>
            <hr />
            <label for="empName">Employee Name</label>
            <input type="text" class="form-control" name="empName" [(ngModel)]="newEmployee.empName" #empName="ngModel" required />

            <label for="empDesig">Employee Designation</label>
            <input type="text" class="form-control" name="empDesig" [(ngModel)]="newEmployee.empDesig" />
            <hr />
            <button [disabled]="!form.form.valid" class="btn btn-primary" (click)="addEmployee(newEmployee)">Add Employee</button>
        </form>
    </div>
</div>