<div>
  <div class="col col-12">
    <div class="row">
      <div class="col col-2">Name :</div>
      <div class="col col-8">
        <input type="text" name="name" [(ngModel)]="user.name">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col col-2">Email :</div>
      <div class="col col-8">
        <input type="email" name="email" [(ngModel)]="user.email">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col col-2"></div>
      <div class="col col-2">
        <button class="btn btn-primary" (click)="save()">Save</button>
      </div>
    </div>
  </div>
</div>