<br>
<div class="row">
  <div class="col-4">
    <form class="form-group" (submit)="login()">
      <label for="username">Username</label>
      <input class="form-control" type="text" [(ngModel)]="user.username" name="username" />
      <label for="password">Password</label>
      <input class="form-control" type="password" [(ngModel)]="user.password" name="password" />
      <br>
      <button class="form-control btn btn-primary" type="submit" name="submit">Login</button>
    </form>
  </div>
  <!-- <div class="col-4">
    <button class="btn" (click)="getComps()">Get Comps</button>
    <button class="btn" (click)="logout()">Logout</button>
  </div>

  <div class="col-4" *ngIf="comps">
    <p *ngFor="let comp of comps">
      {{ comp.name }}
    </p>
  </div> -->
</div>